body{
  background-image: url(./Components/Assets/cat-ears-2.png) ;
  /* background-color: rgb(77, 36, 61); */
  
 
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
}
.title{
  color: black;
}
.game{
  display: flex;
  flex-wrap: wrap;
  background-color: brown;
  height: 458px;
  width: 758px;
  border-radius: 15px;
  justify-content: space-evenly;
}